<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033760177932-06eis6f2516qnf8sfrup4nh4nan6tusu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033760177932-06eis6f2516qnf8sfrup4nh4nan6tusu</string>
	<key>API_KEY</key>
	<string>AIzaSyBpNLKUrjT2u7PI-9SVz7aqvFd1kqH0pBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1033760177932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.A01335895.OrganicNails</string>
	<key>PROJECT_ID</key>
	<string>organic-nails-b9059</string>
	<key>STORAGE_BUCKET</key>
	<string>organic-nails-b9059.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033760177932:ios:1b4d55c60a787644d99329</string>
</dict>
</plist>